--2022-03-25 00:10:26--  https://raw.githubusercontent.com/dandavison/delta/master/themes.gitconfig
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8002::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... connected.
HTTP request sent, awaiting response... 
  HTTP/1.1 200 OK
  Connection: keep-alive
  Content-Length: 10426
  Cache-Control: max-age=300
  Content-Security-Policy: default-src 'none'; style-src 'unsafe-inline'; sandbox
  Content-Type: text/plain; charset=utf-8
  ETag: "f18c86c2a2c8cec34cdbc610baaf5d3c9497cbe12f67133c7d49419650033360"
  Strict-Transport-Security: max-age=31536000
  X-Content-Type-Options: nosniff
  X-Frame-Options: deny
  X-XSS-Protection: 1; mode=block
  X-GitHub-Request-Id: 64C4:5174:24FB54:30A0C0:623CB689
  Accept-Ranges: bytes
  Date: Thu, 24 Mar 2022 18:25:26 GMT
  Via: 1.1 varnish
  X-Served-By: cache-maa10228-MAA
  X-Cache: HIT
  X-Cache-Hits: 1
  X-Timer: S1648146327.579754,VS0,VE0
  Vary: Authorization,Accept-Encoding,Origin
  Access-Control-Allow-Origin: *
  X-Fastly-Request-ID: 6523ed10c473f562559f3383b449e50144b2078d
  Expires: Thu, 24 Mar 2022 18:30:26 GMT
  Source-Age: 269
Length: 10426 (10K) [text/plain]
Saving to: ‘themes.gitconfig’

     0K ..........                                            100% 12.1M=0.001s

Last-modified header missing -- time-stamps turned off.
2022-03-25 00:10:26 (12.1 MB/s) - ‘themes.gitconfig’ saved [10426/10426]

